<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    
    <title>Gijs Nagtegaal | Frontender Web development</title>
    
    <meta name="description" content="Frontend development Webdesigner / developer">
    
    <link rel="manifest" href="/manifest.webmanifest">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Webdesigner">
    
    <link rel="shortcut icon" href="/assets/images/alium.webp" type="image/webp">
    <link rel="icon" href="/assets/images/alium.webp" type="image/webp">
    <link rel="apple-touch-icon" href="/assets/images/alium.webp">
    
    <link rel="icon" type="image/webp" sizes="192x192" href="/assets/images/alium.webp">
    <link rel="icon" type="image/webp" sizes="512x512" href="/assets/images/alium.webp">
    
    <meta name="pwa-capable" content="yes">

    <link rel="stylesheet" href="/assets/styles/keyframes.css">
    <link rel="stylesheet" href="/assets/styles/styleguide.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/partials.css">

    <script src="/assets/scripts/script.js" defer></script>
</head>
    
<body>