{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid', currentPath: currentPath %}
<main class="home">
    <h1>Welkom op mijn dashboard</h1>
    <section class="dash-grid">
        {% if commerce %}
            <article class="commerce">
                    <h2>{{ commerce.totalOrders }} <em> Bestellingen </em></h2>
                    <p>Je hebt al <em>{% if commerce.currency == 'EUR' %}€{% else %}{{ commerce.currency }},-{% endif %} {{ commerce.totalValue | floor }}</em> verdient afgelopen <em>7 dagen</em></p>

                    <a href="/webshops">Bekijk alle data</a>
            </article>
        {% endif %}

        {% if weather %}
            <article class="weather">
                article
            </article>
        {% endif %}

        {% if spotify %}
            <article class="spotify">
                article
            </article>

        {% endif %}
        {% if github %}
            <article class="github">
                article
            </article>
        {% endif %}
    </section>
</main>