main.home {
    section.dash-grid {

        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        color: var(--light-text);

        @media (min-width: 750px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
        }
    }

    article {
        width: 100%;
        height: 20dvh;
        background-color: var(--accent-card);
        border-radius: var(--border-card);
        padding: 1rem;

        &.commerce {

            @media (min-width: 750px) {
                grid-column: span 2 / span 2;
                grid-row: span 2 / span 2;
            }


            h2 {
                color: inherit;
            }

            p {
                em {
                    font-size: var(--paragraph);
                }
            }

        }

        &.weather {
            @media (min-width: 750px) {
                grid-column: span 3 / span 3;
                grid-row: span 2 / span 2;
                grid-column-start: 3;
            }

        }

        &.spotify {
            @media (min-width: 750px) {
                grid-column: span 3 / span 3;
                grid-row: span 2 / span 2;
                grid-row-start: 3;
            }
        } 

        &.github {
            @media (min-width: 750px) {
                grid-column: span 2 / span 2;
                grid-row: span 2 / span 2;
                grid-column-start: 4;
                grid-row-start: 3;
            }
        }
    }
}